<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>现在的微博里僵尸和水军泛滥</title>
		<link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../static/style/navmodel.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/footermodel.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/BS.css" />
		<link rel="stylesheet" href="../static/style/detail.css" />
	</head>

	<body>
		<!--顶部锚点-->
		<a id="anchor-top"></a>
		<div class="index-header">
			<div class="index-wrap">
				<a href="" class="index-logo"></a>
				<div class="index-search">
					<form action="" method="get" class="search-form">
						<input type="text" class="search-box" name="" id="" placeholder="搜索你感兴趣的内容..." />
						<button type="submit" class="search-button">
							<span class="search-img"></span>
						</button>
					</form>
				</div>
				<div class="index-nav">
					<ul>
						<li class="nav-mainpage nav-li">
							<a href="" class="nav-link">首页</a>
						</li>
						<li class="nav-li">
							<a href="" class="nav-link nav-other-link">发现</a>
						</li>
						<li class="nav-li">
							<a href="" class="nav-link nav-other-link" data-toggle="modal" data-target="#message">消息</a>
						</li>
					</ul>
				</div>
				<div class="index-user menu">
					<ul>
						<li>
							<a href="" class="user-info">
								<span>牛客</span>
								<span class="user-portrait"></span>
							</a>
							<ul class="nav-dropdown">
								<li class="sec-nav">
									<a href="" class="btn-hover"><i class="nav-home nav-icon"></i>我的主页</a>
								</li>
								<li class="sec-nav">
									<a href="" class="btn-hover"><i class="nav-mess nav-icon"></i>私信</a>
								</li>
								<li class="sec-nav last-nav">
									<a href="" class="bottom-radius btn-hover"><i class="nav-out nav-icon"></i>退出</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<button type="button" class="index-question" data-toggle="modal" data-target="#exampleModal">提问</button>
			</div>
		</div>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h5 class="modal-title" id="exampleModalLabel">提问</h5>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="control-label">标题:</label>
								<input type="text" class="form-control" id="recipient-name">
							</div>
							<div class="form-group">
								<label for="message-text" class="control-label">问题说明(可选):</label>
								<div class="test-textarea" contenteditable="true"><br /></div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary">发布</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h5 class="modal-title" id="exampleModalLabel">消息</h5>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="control-label">接收人:</label>
								<input type="text" class="form-control" id="recipient-name">
							</div>
							<div class="form-group">
								<label for="message-text" class="control-label">内容:</label>
								<div class="test-textarea" contenteditable="true"><br /></div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">发送</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="main-body">
			<div class="main-container">
				<div class="main-container-right">
					<div class="lables">
						<a href="#">新浪微博</a>
						<a href="#">网络营销</a>
						<a href="#">微博粉丝</a>
						<a href="#">僵尸粉</a>
						<a href="#">网络水军</a>
						<label><img src="../static/images/edit.svg" />修改</label>
					</div>
					<div class="main-question">
						<h2>现在的微博里僵尸和水军泛滥,请问这些网络水军是怎么来的啊?</h2>
						<label><img src="../static/images/edit.svg" />修改</label>
					</div>
					<div class="minor-question">
						有没有人能系统的讲一下网络水军的发展史?
						<label><img src="../static/images/edit.svg" />修改</label>
					</div>
					<div class="watch-list">
						<div class="setAndfocus">
							<button>关注问题</button>
							<span class="setting">
								<img  id="set" src="../static/images/setting.svg" />
							</span>
							<!--隐藏的菜单-->
							<div class="list">
								<div id="anonymity">使用匿名身份</div>
								<div id="redirect">问题重定向</div>
							</div>
						</div>
						<div class="focuserList">
							<div class="focusNumber">
								<a href="#">9</a>
								人关注该问题
							</div>
							<div class="listPicture">
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
							</div>
						</div>
					</div>
					<div class="main-text">
						<div class="main-text-head">
							<div class="author-info">
								<a href="#">营销岛</a>,爱科学 爱运动
								<a href="#" id="author-picture"><img src="../static/images/da8e974dc_is.jpg"/></a>
							</div>
							<div class="like-number">
								<a href="#">
									<span>28</span>&nbsp;人赞同
								</a>
							</div>
							<div class="like-button">
								<button id="up">
									&#9650
									<div>28</div>
								</button>
								<button id="down">
									&#9660
								</button>
							</div>
						</div>
						<div class="main-text-body">
							<div class="main-text-body-container">
								<p>谢邀！</p>
								<p>网络水军的兴衰起伏，与互联网的进化相互交织。他们是社交时代的镜子，折射的不仅是屏幕上的瞬息万变
									，还有公众意识与舆论的更替变迁。从论坛时代到微博时代，再到微信时代，水军一直处于舆论的风口浪尖，
									但他们自称舆论的“弄潮儿”。从人声鼎沸到繁华落尽，如今，水军进入蛰伏期，静待属于他们的春天再次来临。
								</p>
								<p>论坛时代：兴起</p>
								<p>2005年，互联网爆发式发展，广告人士敏感地把握时代脉搏，网络公关公司应运而生。以经济手段，公司化、
									集团化的运作，组建了水军大队。水军登上了历史舞台，并成为网络世界的重要角色，但真正大规模崛起，
									需追溯到论坛时代。
								</p>
								<p>2010年前后，水军开始出现团队和阵营，天下分割，各自抱团取暖。最终被一个名为 “疯客”的团队一统天下
									，形成一家独大的局面。
								</p>
								<p>疯客，2009年成立，建立初衷为加强团队凝聚力，后因其强大的资源整合力和运营能力，挤掉大部分水军团队
									，而成为江湖霸主。
								</p>
								<p>大虾（网名）是疯客核心成员之一。2012年刚上大学的他，课程松，天天玩游戏，了无生趣，就想利用闲散时
									间挣点外快。松散管理的水军成为他的选择。搜索“水军团队”，第一页的搜索结果被“疯客”霸场。于是，大
									虾填写详细的调查资料，加入疯客组织。
								</p>
								<p>
									当时的疯客大概有50个QQ群，每个群500人。这2万多人，构成当时水军的核心力量。每个人手里，至少养了
									几百个论坛账号，资深点的养了上千，甚至上万账号。
								</p>
								<p>
									他们分为初级、中级、管理层三个等级。十几个管理者，每人都被分配两三个群，进行管理、分派任务。术业
									有专攻，这些群里，有专业发帖的，有写评论的，有回帖的，各司其职。管理者在群里下发“任务单”，空闲的
									人领取任务，完成后登记，按月结款。
								</p>
								<p>
									大虾最早加入初级群，第一天的任务就是注册各种论坛账号，忙碌一天只挣了7块钱，第二天14块，第三天20
									块——前一个月，大虾在上手各项工作，慢慢养大天涯、百度、猫扑、西祠胡同、凯迪、十九楼等大论坛的账号。
								</p>
								<p>
									这一个月，他每天早上8点起床，凌晨2点才睡，累死累活挣了1000元。慢慢上手后，第3个月开始，每天中午
									12点起床，看视频、听歌，利用闲暇时间操作下任务，晚上等着查钱即可，月入两三千。这大概是当时水军的
									平均收入。水军都是松散管理，成员来自全国各地，专职的非常少，大部分兼职。而团队组建者大部分集中在
									北上广。
								</p>
								<p>
									当时水军内部流通一个软件，叫“大旗发帖助手”，导入账号和密码的文档，只要按1和2，软件会自动输入用户名
									和密码。水军以此可迅速切换上百甚至上千个账号。
								</p>
								<p>
									大虾看室友玩游戏，经常用一款叫“按键精灵”的软件，可设置按键顺序，和“大旗发帖助手”结合，就可以自动运
									行刷帖任务。他把室友的几台电脑征用，一个晚上可以完成五千多条发帖、顶贴任务。当时发贴的价格是5毛，回
									帖顶贴便宜点，两三毛，一个晚上就是几千块的收入。
								</p>
								<p>
									“水军并不是什么高端职业，大部分人都挺底层，挺低端”，大虾很快就不再混迹底层，因为利润太低，做事烦琐，
									毫无技术含量，他要成为“包工头”。
								</p>
								<p>
									有客户资源就能成为包工头。大虾注册了一家淘宝店，并从一个老水军那里取到经：只要能留言的地方，就能打广
									告。他大量铺设自己的广告，很快就有公关公司找上门。此后，大虾不再接受别人分配的任务，转而给别人分派任
									务。每月收入翻了几番，月入三万元。
								</p>
								<p>
									在论坛时代，水军充当了“捧人推手”和“网络打手”两个身份，网络公关公司深谙如何迎合网民大众的心理和趣味，
									将时下的新闻热点和网民情绪结合起来，通过“借势”和“造势”达到营销目的。同时，一些公司敏锐地发现，恶意
									诋毁、攻击对手比正面宣传自己更有效。
								</p>
								<p>
									“当时的水军野蛮生长，没有底线可言，只要有钱，客户提供什么样的内容都发”，大虾也看到水军制造谣言或传
									播话题的快速有效，在如潮的“民意”之下，给政府部门的理性判断造成干扰。除此之外，一些涉及维权民生类帖
									子特别走俏，因为内容敏感，其发帖价格要翻倍，高利润让水军趋之若鹜。
								</p>
								<p>
									论坛时代是一个舆论野蛮生长的年代，潘多拉的魔盒刚刚在网络上打开，失控慌乱，没有规则、没有底线，网络
									暴力时有发生。水军只是其中一个极端表现。
								</p>
								<p>微博时代：鼎盛</p>
								<p>
									2013年前后，微博时代进入鼎盛巅峰阶段，也是水军的狂欢盛宴。
								</p>
								<p>
									微博像一张大字报，传播路径由点到面。博主可以在大字报上肆意狂喷，粉丝则可赞可骂，点击“转发”，信息就
									完成再传播。一个人发一篇微博，如果有大量的人转发，就可形成舆论中心化，极易聚合广告效应。正因如此，
									微博才可以屡屡在营销活动中取得“一呼百应”的惊人效果。
								</p>
								<p>
									微博史上最早的营销事件，当数“后宫优雅”事件。2009年底，一个名为“后宫优雅”的微博突然火了，她自称美女
									一枚，有私人飞机，与许多大牌艺人私交甚好，还投资了电影《阿凡达》。三个月后，“后宫优雅”声称要代言一
									款网络游戏，停止更新微博，事件落下帷幕。
								</p>
								<p>
									“后宫优雅”事件后，微博的“钱味”已呼之欲出。水军开始盯上微博这块肥肉，就像微博平台上的病毒，他们总是
									试图寻找游戏规则中的漏洞，通过入侵达到盈利的目的。
								</p>
								<p>
									在微博时代，水军形成了完整的产业链条，各司其职，各享利润，最早的渗透则从刷粉开始。起初，微博只需邮
									箱就可注册，而在网上可购买到批量注册的邮箱，100块钱1万个，最常见的是163、搜狐和雅虎邮箱。水军再用邮
									箱批量注册微博号，然后用号同时关注一个账号，达到刷粉目的。但这种方式效率太慢，耗费人工，很快就被更
									快捷而有效的软件取代。软件可批量注册微博号，一个号售价2毛钱。此外，也可直接刷粉，200元可刷1 万个粉丝。
								</p>
								<p>
									微博进化到需要手机号注册时，大虾发现一个漏洞，可以通过同一个手机号不停地绑定、解绑，注册3到5个微博号
									。后来随着业务量增大，就出现了基于漏洞的注册软件，大虾从淘宝上批量购买账号。此时价格已暴涨，一个账号
									从2毛钱涨价到两三块，达人号5元，加V的号15元。
								</p>
								<p>
									当频繁切换登陆和异常操作频繁，就会导致微博账号被封杀，需要手机号解绑。大虾就会找到一些卡商，他们手头
									有几千个手机号，用于发送验证码，解绑微博账号。
								</p>
								<p>
									在微博营销时代，刘君是一个不得不提的人物。当时微博出现三大阵营：新浪草根微博排行榜前50名中，有一半属
									于“福建帮”，而杜子建、“酒红冰蓝”也各拥有十几个大号，他们三分了微博天下。而刘君，却整合了三大阵营之外
									的大部分势力，并让水军在其中发挥到极致。
								</p>
								<p>
									刘君创办了Ridiculous（可笑的，荒谬的）微博营销工作室，除《人民日报》报道过外，他从未从幕后走到过台前
									。有些人曾叫他“水军之王”，他说，“太low，不要这么叫我。”
								</p>
								<p>
									虽说高中就辍学闯荡江湖，但 1993 年出生的他还是个小年轻，稚气未脱。他把头发染成白色，觉得“很酷”，但和他
									聊天不能超过两个小时，否则他就精神涣散，犯困不止，开始词不达意。因此，《创业家》对他的采访共进行了4次
									，每次两小时才得以完成。
								</p>
								<p>
									2012年，业界对于微博营销尚属摸索阶段。当时刘君正在一家电商网站做编辑。“ 那时候的号都挺小，没什么大号
									。有一天我们的公司想要推广，想让别的号转发的时候，我问了一下人家的报价，我发现很多人的报价全都信息不对
									称，有的报很高，有的报很低。我就把所有人的信息全部搜集起来，开了一个淘宝店铺，专门帮别人刷粉丝、刷转发
									，再帮大号接活。”刘君说自己就这样介入了微信营销水军行业。
								</p>
							</div>
							<div class="main-text-body-foot">
								<a href="#">发布于 2015-10-8</a>
								<a href="#" class="ddd"><img src="../static/images/消息.svg" /><span>4</span>条评论</a>
								<a href="#" class="ddd"><img src="../static/images/heart.svg" />感谢</a>	
								<!--隐藏的收起文章-->
								<div class="pack-up">
									<button>收起</button>
								</div>
							</div>
						</div>
					</div>
					<!--富文本编辑器区域-->
					<div class="editer-area">
						<div class="editer-area-container">
							<div class="editer-area-head">
								<a href="#">胡源</a>
								<label><img src="../static/images/edit.svg" />填写话题经验提升话题可信度</label>
								<a href="#"><img src="../static/images/da8e974dc_is.jpg" /></a>
							</div>
							<div class="editer">
								<div class="editer-head">
									<div id="bold">
										<img src="../static/images/bold1.svg" />
									</div>
									<div id="italic">
										<img src="../static/images/italic1.svg" />
									</div>
									<div id="underline">
										<img src="../static/images/underline1.svg" />
									</div>
								</div>
								<iframe id="editer-body">
									
								</iframe>
							</div>
							<div class="editer-area-foot">
								<span style="width:65px;border-right: 1px solid #ccc;margin-right: 15px;">
									<input type="checkbox" />匿名
								</span>
								<span>
									<input type="checkbox" />未经许可,禁止转载
									<img src="../static/images/question-circle-fill.svg" />
								</span>
								<span>
									<button>发布回答</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript" src="../static/script/jquery-3.3.1.min.js" ></script>
<script src="../static/script/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script>
	$(function(){
		
		//关注问题点击事件
		$(".watch-list div button").click(function(){
			if($(".watch-list div button").css("color") == "rgb(255, 255, 255)"){
				$(".watch-list div button").css({
					"background":"linear-gradient(to bottom,#f8f8f9,#e6e6e8)",
					"color":"#666",
				}).text("取消关注");
			}else{
				$(".watch-list div button").css({
					"background":"",
					"color":"#fff",
				}).text("关注问题");
			}
		});
		
		//关注问题中的设置的点击事件
		$(document).click(function(e){
			if($(e.target).attr("id") == "set" && $(".watch-list .setAndfocus .list").css("display") == "none"){
				$(".watch-list .setAndfocus .list").css("display","inline");
				return false;
			}if($(e.target).attr("id") == "set" && $(".watch-list .setAndfocus .list").css("display") != "none"){
				$(".watch-list .setAndfocus .list").css("display","none");
				return false;
			}
			if($(e.target).attr("id") != "set" && $(".watch-list .setAndfocus .list").css("display") != "none"){
				$(".watch-list .setAndfocus .list").css("display","none");
				return false;
			}
		});
		
		//富文本编辑器
		var body = document.getElementById("editer-body").contentWindow;//获取iframe 的window对象
		var doc = document.getElementById("editer-body").contentDocument;//获取iframe 的document对象
		var $doc =$(doc);
		
		body.document.contentEditable = true; //设置元素可编辑
		body.document.designMode = "on"; //打开设计模式
		
		//计数器
		var boldc = 0;
		var italicc = 0;
		var underlinec = 0;
		
		//判断点击的是哪个图标
		$(".editer-head div").click(function(){
			var kind = $(this).attr("id");
			if(kind == "bold"){
				boldc++;
				body.document.execCommand("bold",false,null);
				if(boldc%2 == 1){
					$(this).css({
						"border":"1px solid #C1C1C1",
						"background-color":"#ebebeb",
						"box-shaow":"0 0 3px rgba(0,0,0,.1) inset",
					});
				}else{
					$(this).css({
						"border":"1px solid transparent",
						"background":"#f1f1f1",
						"box-shaow":"none",
					});
				}
			}if(kind == "italic"){
				italicc++;
				body.document.execCommand("italic",false,null);
				if(italicc%2 == 1){
					$(this).css({
						"border":"1px solid #C1C1C1",
						"background-color":"#ebebeb",
						"box-shaow":"0 0 3px rgba(0,0,0,.1) inset",
					});
				}else{
					$(this).css({
						"border":"1px solid transparent",
						"background":"#f1f1f1",
						"box-shaow":"none",
					});
				}
			}if(kind == "underline"){
				underlinec++;
				body.document.execCommand("underline",false,null);
				if(underlinec%2 == 1){
					$(this).css({
						"border":"1px solid #C1C1C1",
						"background-color":"#ebebeb",
						"box-shaow":"0 0 3px rgba(0,0,0,.1) inset",
					});
				}else{
					$(this).css({
						"border":"1px solid transparent",
						"background":"#f1f1f1",
						"box-shaow":"none",
					});
				}
			}
		});
		
		//修改富文本编辑区域底部的问号
		$(".editer-area-foot span img").mouseenter(function(){
			$(".editer-area-foot span img").attr("src","../static/images/question-circle-fill1.svg");
		});
		$(".editer-area-foot span img").mouseout(function(){
			$(".editer-area-foot span img").attr("src","../static/images/question-circle-fill.svg");
		});
		
		//发布问题按钮绑定事件
		$(".editer-area-foot span button").click(function(){
			var text = doc.body.innerHTML;
			console.log(text)
		});
		
		//侧边点赞栏设置
//		$(window).scroll(function(){ //窗口滚动监听
//			if($(window).scrollTop()>310){
//				$(".like-button-hide").css({
//					"display":"block",
//				});
//			}if($(window).scrollTop()<310){
//				$(".like-button-hide").css({
//					"display":"none",
//				});
//			}
//		});
		
		//收起按钮设置
		var no = $(".main-container").height()-$(".editer-area").height()-$(window).height();
		$(".pack-up").css({
			"position":"fixed",
		}).animate({
			bottom:'10px',
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > no){
				$(".pack-up").hide();
			}if($(window).scrollTop() < no){
				$(".pack-up").show();
			}
		});
		
//		var ym = $(window).height();
//		var ar = ym-$(".index-user").height()-$(".pack-up button").height();
//		$(".pack-up button").css("top",ym).animate({
//			top:ar,
//		});
//		var no = $(".main-container").height()-$(".editer-area").height()-$(window).height();
//		$(window).scroll(function(){
//			if($(window).scrollTop()>no && $(".main-text-body-container").css("display") != "none"){
//				$(".pack-up button").css({
//					"display":"none",
//				});
//			}if($(window).scrollTop()<no && $(".main-text-body-container").css("display") != "none"){
//				$(".pack-up button").css({
//					"display":"block",
//				});
//			}if($(window).scrollTop()<no && $(".main-text-body-container").css("display") == "none"){
//				$(".pack-up button").text("展开");
//			}
//		});
//		$(".pack-up button").click(function(){
//			if($(".pack-up button").text() == "收起"){
//				$(".main-text-body-container").hide();
//				$(".pack-up button").text("展开");
//				return false;
//			}
//			if($(".pack-up button").text() == "展开"){
//				$(".main-text-body-container").show();
//				$(".pack-up button").text("收起");
//				return false;
//			}
//		});
		
		//返回顶部按钮
		$(window).scroll(function(){
			if($(window).scrollTop()>$(window).height()){
				$(".to-top").css("display","block");
			}if($(window).scrollTop()<$(window).height()){
				$(".to-top").css("display","none");
			}
		});
		$(".to-top button").click(function(){
			$("html").animate({scrollTop:$("#anchor-top").offset().top},300); //实现点击后滚动到锚点anchor-top的功能
		});
		
	});
</script>

<!--回到顶部按钮-->
<div class="to-top">
	<button><img src="../static/images/up.svg" /></button>
</div>
